body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f4f4;
    padding:30px;
}

h1,h2{
    text-align:center;
}

form{
    max-width:450px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

label{
    display:block;
    margin-top:15px;
}

input{
    width:100%;
    padding:10px;
    margin-top:5px;
    box-sizing:border-box;
}

button{
    margin-top:20px;
    padding:10px;
    cursor:pointer;
}

#lista{
    max-width:600px;
    margin:30px auto;
}

.usuario{
    background:white;
    margin-top:15px;
    padding:15px;
    border-left:5px solid royalblue;
    box-shadow:0 0 5px rgba(0,0,0,.1);
}

#limparLista{
    display:block;
    margin:20px auto;
}